@model TicketSystem.ViewModel.TicketVm
@{
    Layout = "Layout";
}

<nav class="navbar navbar-expand-sm bg-light ">
    <div class="container">Ticket Info</div>
    <div class="container-fluid justify-content-end">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item me-1">
                <a class="nav-link text-white b1" asp-controller="Ticket" asp-action="Create">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white b1" asp-controller="Ticket" asp-action="Index">All List</a>
            </li>

        </ul>
    </div>

</nav>
<div class="container-fluid justify-content-end pt-5">
    <div class="card m-auto col-10">
        <div class="card-header" style=" font-size:1.2rem; ">
            Update Ticket
        </div>
        <div class="card-body">
            <form class="" method="post" asp-action="Edit" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-6">
                        <label for="groupName">Ticket Group:</label>
                        <select asp-for="TicketGroupId" asp-items="@Model.TicketGroupOption()" class="form-control">
                            <option>Choose Ticket Group</option>
                        </select>

                    </div>
                    <div class="form-group col-6">
                        <label for="groupName">Title:</label>
                        <input type="text" class="form-control" id="" asp-for="Title" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="groupDescription">Description:</label>
                        <textarea class="form-control" asp-for="Description" placeholder="" rows="3" required></textarea>
                    </div>
                    <div class="form-group col-6">
                        <label for="groupDescription">Created By:</label>
                        <input type="text" class="form-control" id="" asp-for="CreatedBy" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="groupDescription">Customer Pan No:</label>
                        <input type="file" class="form-control" id="" asp-for="Image" placeholder="" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Update</button>
            </form>
        </div>
    </div>
</div>