@model TicketSystem.ViewModel.CustomerVm
@{
    Layout = "Layout";
}
<nav class="navbar navbar-expand-sm bg-light ">
    <div class="container">Customer Info</div>
    <div class="container-fluid justify-content-end">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item me-1">
                <a class="nav-link text-white b1" asp-controller="Customer" asp-action="Create">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white b1" asp-controller="Customer" asp-action="Index">All List</a>
            </li>

        </ul>
    </div>

</nav>
<div class="container-fluid justify-content-end pt-5">
    <div class="card m-auto col-10">
        <div class="card-header" style=" font-size:1.2rem; ">
            Create Customer
        </div>
        <div class="card-body">
            <form class="" method="post" asp-action="Create">
                <div class="row">
                    <div class="form-group col-6">
                        <label for="groupName">Customer Group:</label>
                        <select asp-for="CustomerGroupId" asp-items="@Model.CustomerGroupOption()" class="form-control">
                            <option>Choose Customer Group</option>
                        </select>

                    </div>
                    <div class="form-group col-6">
                        <label for="groupName">Customer Name:</label>
                        <input type="text" class="form-control" id="" asp-for="Name" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="groupDescription">Customer Email:</label>
                        <input type="text" class="form-control" id="" asp-for="Email" placeholder="" required>
                    </div>
                    <div class="form-group col-6">
                        <label for="groupDescription">Customer Phone No:</label>
                        <input type="number" class="form-control" id="" asp-for="Phone" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="groupDescription">Customer Pan No:</label>
                        <input type="number" class="form-control" id="" asp-for="Pan" placeholder="" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Create</button>
            </form>
        </div>
    </div>
</div>